<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form-login" >
  <h2 tuiText>Регистрация пользователя</h2>

<tui-textfield iconStart="@tui.mail">
  <label tuiLabel>Email</label>
    <input
      formControlName="email"
      type="email"
      tuiTextfield
    >
</tui-textfield>

  <tui-error
    *ngIf="formSubmitted"
    formControlName="email"
    [error]="[] | tuiFieldError | async"
  />
  <tui-error
    *ngIf="authService.formErrors.email | async as error"
    [error]="error"
  />

<tui-textfield >
  <label tuiLabel>Password*</label>
      <input
        formControlName="password"
        placeholder="Enter password here"
        tuiTextfield
        type="password"
      />
  <tui-icon tuiPassword />
</tui-textfield>

    <tui-error
      *ngIf="formSubmitted"
      formControlName="password"
      [error]="[] | tuiFieldError | async"
    />

  <tui-textfield>
    <label tuiLabel>Password repeat</label>
    <input
      formControlName="passwordRepeat"
      placeholder="Enter password repeat"
      tuiTextfield
      type="password"
    />
    <tui-icon tuiPassword />
  </tui-textfield>

    <tui-error
      *ngIf="signUpForm.get('passwordRepeat')?.touched && signUpForm.errors?.['passwordMismatch']"
      [error]="signUpForm.errors?.['passwordMismatch']?.message"
    ></tui-error>
  <tui-error
    *ngIf="authService.formErrors.general | async as error"
    [error]="error"
  />


  <div class="form-login__buttons">
    <button
      tuiButton
      type="submit"
      [disabled]="signUpForm.invalid"
    >
      Регистрация
    </button>
    <button
      tuiButton
      [routerLink]="['/sign-in']"
    >
      Войти
    </button>
  </div>
</form>

